.tópicos{
    background: var(--azul_degrade);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 1em;
}

.tópicos_título {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.tópicos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.tópicos_item {
    margin: 2.5em 0.5em;
}

.tópicos_link {
    color: var(--branco);
    padding: 2em 2em;
    background-color: var(--laranja);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .tópicos_título {
        font-size: 24px;
    }
    .tópicos_link {
        font-size: 24px;
    }
    .tópicos_item {
        margin: 4em 1em;
    }
}

@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 1em 20vw;
    }
}